@use "../util/boilerplate" as vars;

.author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__img {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;

    img {
      min-width: 3rem;
        max-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;
      border-radius: 100%;
      border: 2px solid vars.$green;
      object-fit: cover;
      cursor: pointer;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        color: vars.$dark-green;
        font-size: 0.9rem;
        font-family: vars.$menu;
        text-align: start;
      }
      p {
        font-size: 0.7rem;
        font-family: vars.$menu;
        color: vars.$green;
      }
    }
  }

  .follow-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    background: vars.$green;
    font-family: vars.$menu;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 1.8rem;
   
  }

  .follow-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: vars.$yellow;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  .follow-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  .follow-button span {
    font-family: vars.$menu;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0 0.5rem;
    color: vars.$purple;
 font-size: 0.8rem;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  .follow-button:hover span {
    color: vars.$purple;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(1);
    }
  }
}
