@use "../util/boilerplate" as vars;
@use "../util/breakpoints" as media;


.LeftSidebar{
  width: 30%;
  //background-color: rgb(198, 218, 19);
  border-right: 3px solid vars.$blue;
  padding-inline: 1rem;
}