@use "../util/boilerplate" as vars;
@use "../util/breakpoints" as media;

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.2rem;
  border-bottom: 2px solid vars.$blue;
  h2 {
    font-family: vars.$menu;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 1.6rem;
    font-weight: 600;
    color: vars.$blue;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border: none;
    font-family: vars.$menu;
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
    font-style: italic;
    letter-spacing: 1px;
    cursor: pointer;
    img {
      transition: all 0.3s ease-in-out;
    }
  }
  button:hover {
    img {
      transform: translateX(5px);
    }
  }
}

.sidepost {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  @include media.max(alg) {
    gap: 1rem;
  }

  &__img {
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  &__content {
    &--tags {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      width: 10rem;

      button {
        background-color: vars.$purple;
        cursor: pointer;
        border: 1px solid vars.$rose;
        color: vars.$rose;
        padding: 0.2rem 0.3rem;
        font-size: 0.9rem;
        -webkit-box-shadow: 2px 2px 2px 0 #381e5f;
        -moz-box-shadow: 2px 2px 2px 0 #381e5f;
        box-shadow: 2px 2px 2px 0 #f1468e;
        transition: all 0.3s ease-in-out;
      }
      button:hover {
        box-shadow: 0px 0px 0px 0 #381e5f;
      }
      p {
        font-family: vars.$menu;
        font-size: 0.7rem;
      }
    }
    h3 {
      margin-block: 0.5rem;
      cursor: pointer;
    }
    &--img {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      align-items: center;

      img {
        width: 3rem;
                height: 3rem;
                border-radius: 100%;
        border: 2px solid vars.$rose;
        object-fit: cover;
        cursor: pointer;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.1rem;
        button {
          background-color: transparent;
          cursor: pointer;
          border: none;
          color: vars.$dark-blue;

          font-size: 0.8rem;
          font-family: vars.$menu;
          text-align: start;
        }
        p {
          font-size: 0.7rem;
          font-family: vars.$menu;
          color: #405b70b7;
        }
      }
    }
  }
}

