@use "../util/boilerplate" as vars;
@use "../util/breakpoints" as media;

.nav-container {
  z-index: 1000;
  display: flex;
  width: 100%;
  flex-direction: column;
  @include media.max(md) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: bisque;
  }

  &__header {
    display: flex;
    width: min(90%, 1400px);
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 2px solid vars.$separator;

    @include media.max(md) {
      border-bottom: 0;
    }
    &--left {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      
.burger-menu,.drop-down-menu{
  position: absolute;
  right: 0;
  top: 77px;
  //transition: all 0.9s ease-in-out;
            background-color: vars.$light-rose;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
z-index: 1500;

box-shadow: 3px 3px 10px 1px #df90bd;
max-width: 31rem;
height: calc(100vh - 77px);
//padding: 2rem;

      button{
        border: none;
        background-color: transparent;
        font-family: vars.$menu;
        cursor: pointer;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
      }
      button:hover{
        font-weight: 600;
      }

      hr{
        width: 100%;
        border: 1px solid #405b7053;
      }
      span{
        color: #002aff;
      }
}
.burger-menu{width: 100%;
min-width: 22rem;}
.notification-relative{
  position: relative;
}
.notification{
  position: absolute;
  
  top: 3.5rem;

            background-color: vars.$light-rose;
      display: flex;
      
      align-items: center;
      justify-content: center;
     
z-index: 1500;

box-shadow: 3px 3px 10px 1px #df90bd;
width: fit-content;
height: 20rem;
padding: 2rem;
}

      img {
        cursor: pointer;
      }
      @include media.max(sm) {
        .night {
          display: none;
        }
      }
    }

    &--logo {
      font-size: 2rem;
      letter-spacing: 0.4rem;
      cursor: pointer;
      .link {
        text-decoration: none;
      }
    }

    &--right {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    .drop-down{  
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      position: relative;
      .user {
        height: 2.18rem;
        border-radius: 50%;
        border: 0.1rem solid vars.$blue;
        padding: 0.1rem;
        cursor: pointer;
      }
      .down-arrow{
        width: 1rem;
                cursor: pointer;

      }
    .drop-down-menu{
      position: absolute;
      transition: all 0.3s ease-in-out;
      top: 2.5rem;
      width: 15rem;
      border-radius: 0.5rem;
      background-color: vars.$light-rose;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
z-index: 1500;
box-shadow: 3px 3px 10px 1px #df90bd;
height: fit-content;
padding: 2rem;

      button{
        border: none;
        background-color: transparent;
        font-family: vars.$menu;
        cursor: pointer;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
      }
      button:hover{
        font-weight: 600;
      }

      hr{
        width: 100%;
        border: 1px solid #405b7053;
      }
      span{
        color: #002aff;
      }
    }
    }
      .sign-in,
      .subscribe,
      .write {
        width: fit-content;
        height: fit-content;
        font-family: vars.$menu;
        font-size: 1rem;
        padding: 0.4rem;
        border: 0.1rem solid vars.$blue;
        border-radius: 0.1rem;
        background: transparent;
        cursor: pointer;
      }
      .sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        background-color: vars.$blue;
        color: white;
      }
      .write {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
      }
      @include media.max(sm) {
        .subscribe {
          display: none;
        }
      }
    }
  }
}
.stick {
  z-index: 1000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &__navbar {
    width: min(90%, 1400px);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    @include media.max(md) {
      display: none;
    }
    .left-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      gap: 1rem;

      .date {
        min-width: 6rem;
        p {
          font-weight: 600;
        }
      }
      ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        @include media.max(lg) {
          font-size: 0.9rem;
          img {
            display: none;
          }
        }
        .link {
          text-decoration: none;
          font-family: vars.$menu;
          font-weight: 400;
        }
        .link:hover {
          font-weight: 600;
          transition: all 0.3s ease-in-out;
        }
        .hot {
          position: relative;
          p {
            position: absolute;
            font-family: vars.$menu;
            font-size: 0.7rem;
            background-color: vars.$rose;
            padding: 0.1rem 0.2rem;
            color: vars.$yellow;
            border-radius: 0.2rem;
            bottom: 1.1rem;
            left: 3.3rem;
            cursor: pointer;
            @include media.max(lg) {
              left: 2.3rem;
              font-size: 0.5rem;
            }
          }
        }
      }
    }

    button {
      background-color: vars.$blue;
      padding: 1.3rem;
      border: 0;
      border-radius: 0.1rem;
      cursor: pointer;
    }
  }
}
